:root {
    --main-bg-color: #fff;
    --primary-color: #000;
}

.wrapper {
    align-items: center;
    background: var(--main-bg-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
}

.title {
    color: var(--primary-color);
}

.input {
    background: rgba(107, 212, 163, 0.4);
    border: none;
    border-radius: 4px;
    /* color: #fff; */
    font-size: 16px;
    outline: none;
    padding: 5px 10px;
}

.confirm {
    background: none;
    border: var(--primary-color) solid 1px;
    border-radius: 4px;
    box-shadow: 1px 2px 2.3px rgba(73, 223, 153, 0.7);
    color: var(--primary-color);
    margin-top: 20px;
    padding: 5px 10px;
}

.barcode-page {
    transform: scale(1);
    transform-origin: center;
}

.id-wrapper {
    display: flex;
    justify-content: space-between;
}

.delete {
    /* color: #ca4c3e73; */
    align-self: end;
}

.barcode {
    display: flex;
    height: 100px;
    justify-content: space-evenly;
}

.barcode > .set {
    background: var(--primary-color);
    height: 100%;
    width: 1pt;
}

.barcode > .clear {
    height: 100%;
    width: 1pt;
}
