:root {
  --main-bg-color: #fff; 
  --primary-color: #000;
}

.wrapper {
  min-height: 100vh;
  background: var(--main-bg-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  color: var(--primary-color);
}

.input {
  border-radius: 4px;
  padding: 5px 10px;
  background: rgba(107, 212, 163, 0.4);
  border: none;
  outline: none;
  color: #fff;
}

.confirm {
  border-radius: 4px;
  padding: 5px 10px;
  margin-top: 20px;
  background: none;
  border: var(--primary-color) solid 1px;
  color: var(--primary-color);
  box-shadow: 1px 2px 2.3px rgba(73, 223, 153, 0.7);
}

.barcode-page {
  transform: scale(0.8) rotate(90deg);
  transform-origin: center;
}
.id-wrapper {
  display: flex;
  justify-content: space-between;
}
.delete {
  /* color: #ca4c3e73; */
  align-self: end;
}
.barcode {
  height: 100px;
  display: flex;
  justify-content: space-evenly;
}

.barcode > .set {
  height: 100%;
  width: 1.3pt;
  background: var(--primary-color);
}

.barcode > .clear {
  height: 100%;
  width: 1.3pt;
}

